<!DOCTYPE html>
<html lang="francais">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="style2.css">
	<link rel="stylesheet" href="style3.css">
	
	<title>Manuels scolaires</title>
	
   
        
    
</head>

<body>
	
	<header class="main-head">
        <nav>
            <h1>My_Library</h1>
            <ul>
                <li></li>
                <li><a href="index.php" id="home">Accueil</a></li>
            </ul>
        </nav>
    </header>
	<section class="hero">
	<div class="contain">
		<div class="card">
			<img src="images/maths/maths_1.jpg" alt="Manuel 1">
			<div class="card-body">
				<div class="card-title">Manuel de mathématiques</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2022</li>
						<li>Description : Ce manuel couvre le programme de mathématiques pour la classe de seconde.</li>
						<li>Niveau : Premier</li>
						<li>Matière : Mathématiques</li>
					</ul>
				</div>
				<div class="price">20€</div>
			</div>
		</div>
		<div class="card">
			<img src="images/arabe/arabe_1.jpg" alt="Manuel 2">
			<div class="card-body">
				<div class="card-title">Manuel d'arabe</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2021</li>
						<li>Description : Ce manuel couvre le programme d'arabe pour la classe de premier.</li>
						<li>Niveau : Premier</li>
						<li>Matière : Arabe</li>
					</ul>
				</div>
				<div class="price">15 DH</div>
			</div>
		</div>
		<div class="card">
			<img src="images/francais/francais_1.jpg" alt="Manuel 3">
			<div class="card-body">
				<div class="card-title">Manuel de francais</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2022</li>
						<li>Description : Ce manuel couvre le programme de francais.</li>
                        <li>Niveau : Premier</li>
                        <li>Matière : Francais</li>
                    </ul>
                </div>
                <div class="price">15 DH</div>
            </div>
        </div>
        <div class="card">
			<img src="images/maths/maths_2.png" alt="Manuel 1">
			<div class="card-body">
				<div class="card-title">Manuel de mathématiques</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2022</li>
						<li>Description : Ce manuel couvre le programme de mathématiques pour la classe de seconde.</li>
						<li>Niveau : Deuxième</li>
						<li>Matière : Mathématiques</li>
					</ul>
				</div>
				<div class="price">20€</div>
			</div>
		</div>
		<div class="card">
			<img src="images/arabe/arabe_2.png" alt="Manuel 2">
			<div class="card-body">
				<div class="card-title">Manuel d'arabe</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2021</li>
						<li>Description : Ce manuel couvre le programme d'arabe pour la classe de premier.</li>
						<li>Niveau : Deuxième</li>
						<li>Matière : Arabe</li>
					</ul>
				</div>
				<div class="price">15 DH</div>
			</div>
		</div>
		<div class="card">
			<img src="images/francais/francais_2.jpg" alt="Manuel 3">
			<div class="card-body">
				<div class="card-title">Manuel de francais</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2022</li>
						<li>Description : Ce manuel couvre le programme de francais.</li
                        li>Niveau : Deuxième</li>
                        <li>Matière : Francais</li>
                    </ul>
                </div>
                <div class="price">15 DH</div>
            </div>
        </div>
        <div class="card">
			<img src="images/maths/maths_3.png" alt="Manuel 1">
			<div class="card-body">
				<div class="card-title">Manuel de mathématiques</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2022</li>
						<li>Description : Ce manuel couvre le programme de mathématiques pour la classe de seconde.</li>
						<li>Niveau : Troisième</li>
						<li>Matière : Mathématiques</li>
					</ul>
				</div>
				<div class="price">20 DH</div>
			</div>
		</div>
		<div class="card">
			<img src="images/arabe/arabe_3.png" alt="Manuel 2">
			<div class="card-body">
				<div class="card-title">Manuel d'arabe</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2021</li>
						<li>Description : Ce manuel couvre le programme d'arabe.</li>
						<li>Niveau : Troisième</li>
						<li>Matière : Arabe</li>
					</ul>
				</div>
				<div class="price">15 DH</div>
			</div>
		</div>
		<div class="card">
			<img src="images/francais/francais_3.jpg" alt="Manuel 3">
			<div class="card-body">
				<div class="card-title">Manuel de francais</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2022</li>
						<li>Description : Ce manuel couvre le programme de francais.</li
                        li>Niveau : Troisième</li>
                        <li>Matière : Francais</li>
                    </ul>
                </div>
                <div class="price">15 DH</div>
            </div>
        </div>
        <div class="card">
			<img src="images/maths/maths_4.jpg" alt="Manuel 1">
			<div class="card-body">
				<div class="card-title">Manuel de mathématiques</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2022</li>
						<li>Description : Ce manuel couvre le programme de mathématiques pour la classe de seconde.</li>
						<li>Niveau : Quatrième</li>
						<li>Matière : Mathématiques</li>
					</ul>
				</div>
				<div class="price">20 DH</div>
			</div>
		</div>
		<div class="card">
			<img src="images/arabe/arabe_4.jpg" alt="Manuel 2">
			<div class="card-body">
				<div class="card-title">Manuel d'arabe</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2021</li>
						<li>Description : Ce manuel couvre le programme d'arabe pour la classe de premier.</li>
						<li>Niveau : Quatrième</li>
						<li>Matière : Arabe</li>
					</ul>
				</div>
				<div class="price">15 DH</div>
			</div>
		</div>
		<div class="card">
			<img src="images/francais/francais_4.png" alt="Manuel 3">
			<div class="card-body">
				<div class="card-title">Manuel de francais</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2022</li>
						<li>Description : Ce manuel couvre le programme de francais.</li
                        li>Niveau : Quatrième</li>
                        <li>Matière : Francais</li>
                    </ul>
                </div>
                <div class="price">15 DH</div>
            </div>
        </div>
        <div class="card">
			<img src="images/maths/maths_5.png" alt="Manuel 1">
			<div class="card-body">
				<div class="card-title">Manuel de mathématiques</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2022</li>
						<li>Description : Ce manuel couvre le programme de mathématiques pour la classe de seconde.</li>
						<li>Niveau : Cinquième</li>
						<li>Matière : Mathématiques</li>
					</ul>
				</div>
				<div class="price">20 DH</div>
			</div>
		</div>
		<div class="card">
			<img src="images/arabe/arabe_5.png" alt="Manuel 2">
			<div class="card-body">
				<div class="card-title">Manuel d'arabe</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2021</li>
						<li>Description : Ce manuel couvre le programme d'arabe pour la classe de premier.</li>
						<li>Niveau : Cinquième</li>
						<li>Matière : Arabe</li>
					</ul>
				</div>
				<div class="price">15 DH</div>
			</div>
		</div>
		<div class="card">
			<img src="images/francais/francais_5.jpg" alt="Manuel 3">
			<div class="card-body">
				<div class="card-title">Manuel de francais</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2022</li>
						<li>Description : Ce manuel couvre le programme de francais.</li
                        li>Niveau : Cinquième</li>
                        <li>Matière : Francais</li>
                    </ul>
                </div>
                <div class="price">15 DH</div>
            </div>
        </div>
        <div class="card">
			<img src="images/maths/maths_6.jpg" alt="Manuel 1">
			<div class="card-body">
				<div class="card-title">Manuel de mathématiques</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2022</li>
						<li>Description : Ce manuel couvre le programme de mathématiques pour la classe de seconde.</li>
						<li>Niveau : Sixème</li>
						<li>Matière : Mathématiques</li>
					</ul>
				</div>
				<div class="price">20 DH</div>
			</div>
		</div>
		<div class="card">
			<img src="images/arabe/arabe_6.jpg" alt="Manuel 2">
			<div class="card-body">
				<div class="card-title">Manuel d'arabe</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2021</li>
						<li>Description : Ce manuel couvre le programme d'arabe pour la classe de premier.</li>
						<li>Niveau : Sixème</li>
						<li>Matière : Arabe</li>
					</ul>
				</div>
				<div class="price">15 DH</div>
			</div>
		</div>
		<div class="card">
			<img src="images/francais/francais_6.jpg" alt="Manuel 3">
			<div class="card-body">
				<div class="card-title">Manuel de francais</div>
				<div class="card-text">
					<ul>
						<li>Édition : 2022</li>
						<li>Description : Ce manuel couvre le programme de francais.</li
                        li>Niveau : Sixème</li>
                        <li>Matière : Francais</li>
                    </ul>
                </div>
                <div class="price">15 DH</div>
            </div>
        </div>
    </div>
</section>
<footer>
	<div class="contact-info">
	  <div class="info-item">
		<div class="icon">
		  <i class="fa fa-map-marker"></i>
		</div>
		<h5>Vous allez nous trouver à</h5>
		<p>Madinat Al Irfane - Rabat<br>80000 Morocco</p>
	  </div>
	  <div class="info-item">
		<div class="icon">
		  <i class="fa fa-envelope"></i>
		</div>
		<h5>Envoyez-nous un mail sur</h5>
		<p><a href="mailto:oumaghazouan@gmail.com">oumaghazouan@gmail.com</a><br>
		   <a href="mailto:oumayma070502@gmail.com">oumayma070502@gmail.com</a></p>
	  </div>
	  <div class="info-item">
		<div class="icon">
		  <i class="fa fa-phone"></i>
		</div>
		<h5>Appelez-nous sur</h5>
		<p class="phone-number">Phone: (+212) 13 58 99 88</p>
	  </div>
	</div>
  </footer>
</body>
