<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>body{background: url('images/nature.jpeg')};</style>
    <link rel="stylesheet" href="style4.css">
    <link rel="stylesheet" href="style3.css">
    <link rel= "stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Odia&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
    <header class="main-head">
        <nav>
            <h1>My_Library</h1>
            <ul>
                <li></li>
                <li><a href="index.php" id="home">Accueil</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <form action="../Controller/control.php"  method="post">
        <div class="container">
            <div class="screen">
                <div class="container">
                    
                    <input type="text" name="nom" placeholder="Nom...." required><br>
                    <input type="text" name="prenom" placeholder="Prenom...." required><br>
                    <input type="text" name="adresse"placeholder="Adresse...." required><br>
                    <input type="email" name="email" placeholder="Email...." required><br>
                    <input type="text" name="num_telephone"placeholder="Numéro de téléphoone...." required><br>
                    <input type="text" name="ville"placeholder="Ville...." required><br>
                    <input type="text" name="code_postal"placeholder="Code postal...." required><br>
                    <input type="password" name="password" placeholder="Mot de passe...." required><br>
                   
                    <input type="submit" name="action" value="validAddClient"><br>
                     
                </form>
        </section>
        <footer>
            <div class="contact-info">
              <div class="info-item">
                <div class="icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <h5>Vous allez nous trouver à</h5>
                <p>Madinat Al Irfane - Rabat<br>80000 Morocco</p>
              </div>
              <div class="info-item">
                <div class="icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <h5>Envoyez-nous un mail sur</h5>
                <p><a href="mailto:oumaghazouan@gmail.com">oumaghazouan@gmail.com</a><br>
                   <a href="mailto:oumayma070502@gmail.com">oumayma070502@gmail.com</a></p>
              </div>
              <div class="info-item">
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <h5>Appelez-nous sur</h5>
                <p class="phone-number">Phone: (+212) 13 58 99 88</p>
              </div>
            </div>
          </footer>
     
    <script src="main.js"></script>
</body>
</html>