<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>body{background: url('images/nature.jpeg')};</style>
    <link rel="stylesheet" href="style3.css">
    <link rel="stylesheet" href="style4.css">
    
    <link rel="stylesheet" href="style2.css">

    <link rel= "stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Odia&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <header class="main-head">
        <nav>
            <h1>My_Library</h1>
            <ul>
                <li></li>
                <li><a href="index.php" id="home">Accueil</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <form action="../controller/control.php" method="post">
        <div class="container">
            <div class="screen">
                
                        <input type="text" name="login" placeholder="login...." required><br>
                        <input type="password" name="password" placeholder="Mot de passe...." required><br>
                        <button type="submit" class="button login__submit" id="login">
                            <span class="button__text">Se connecter</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>				
                
                		
            </div>
        </div>
    </form>
        </section>
        
     
    <script src="main.js"></script>
</body>
</html>