<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/formstyle.css">
                <link rel="stylesheet" href="../view/style4.css">
                <link rel="stylesheet" href="../view/style3.css">
                <link rel="stylesheet" href="../view/style.css">
                <link rel="stylesheet" href="../view/style2.css">
    <title>Suppression réussie</title>
</head>
<body>
    <header class="main-head">
        <nav>
            <h1>Supression</h1>
            <ul>
                <li></li>
                <li></li>
                <li><a href="../Controller/control.inc.php" id="return">Retour</a></li>
                
            </ul>
        </nav>
    </header>
    <h1>Suppression réussie</h1>
    <p>L'élément a été supprimé avec succès.</p>
</body>
</html>
